# Express Server API Keys
JWT_SECRET=change_me_in_prod
TMDB_API_KEY=your_tmdb_api_key

# PostgreSQL Database Variables
DATABASE_URL=postgres://user:password@localhost:5432/cinecritic
POSTGRES_DB=custom_name_for_the_db
POSTGRES_USER=custom_name_of_the_superuser
POSTGRES_PASSWORD=password_for_the_superuser