# Express Server API Keys
TMDB_API_KEY=your_tmdb_api_key
JWT_SECRET=change_me_in_prod

# PostgreSQL Database Variables
DATABASE_URL=postgres://user:password@localhost:5432/cinecritic
POSTGRES_PASSWORD=password_for_the_superuser
POSTGRES_USER=custom_name_of_the_superuser
POSTGRES_DB=custom_name_for_the_db